{% extends 'info/base.html' %}
{% block content %}
    <h1>Attendance Details</h1>
    <div class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Students</th>
                        <th>Today's Attendance</th>
                        <th>Total Attendance</th>
                    </tr>
                  {% for record in data %}
                    <tr>
                        <th>{{ record.name }}</th>
                        {% if record.status == "Present" %}
                                <td class="p-3 mb-2 bg-success text-white">Present</td>

                        {% else %}
                            <td class="p-3 mb-2 bg-danger text-white">Absent</td>

                        {% endif %}
                        <th>{{ record.total_attendance }}</th>
                    </tr>
                  {% endfor %}
                  </thead>

                </table>
              </div>
            </div>
    </div>
{% endblock %}
